<div class="container">
  <app-slider></app-slider>

  <div class="avalieble">
    <h2 class="title">Avaliações</h2>
    <button>Avaliar</button>
  </div>
  <div class="card-container">
    <app-user-card
      [image]="
        'https://blog.br.playstation.com/tachyon/sites/4/2020/10/19_3_thumb.jpg'
      "
      [name]="'Usuario'"
      [avaliable]="
        'LOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit amet consectetur adipiscingLOREM ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore etLOREM ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore etLOREM ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore etLOREM ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et elit sed do eiusmod tempor incididunt ut labore etcing elit sed do eiusmod tempor incididunt ut labore et'
      "
    ></app-user-card>
    <app-user-card
      [image]="
        'https://blog.br.playstation.com/tachyon/sites/4/2020/10/19_3_thumb.jpg'
      "
      [name]="'Usuario'"
      [avaliable]="
        'OREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit amet'
      "
    ></app-user-card>
    <app-user-card
      [image]="
        'https://blog.br.playstation.com/tachyon/sites/4/2020/10/19_3_thumb.jpg'
      "
      [name]="'Usuario'"
      [avaliable]="
        'OREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit amet'
      "
    ></app-user-card>
    <app-user-card
      [image]="
        'https://blog.br.playstation.com/tachyon/sites/4/2020/10/19_3_thumb.jpg'
      "
      [name]="'Usuario'"
      [avaliable]="
        'OREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit amet'
      "
    ></app-user-card>
    <app-user-card
      [image]="
        'https://blog.br.playstation.com/tachyon/sites/4/2020/10/19_3_thumb.jpg'
      "
      [name]="'Usuario'"
      [avaliable]="
        'OREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit ametOREM ipsum dolor sit amet consectetur adipisLOREM ipsum dolor sit amet'
      "
    ></app-user-card>
    <app-user-card
      [image]="
        'https://blog.br.playstation.com/tachyon/sites/4/2020/10/19_3_thumb.jpg'
      "
      [name]="'Usuario'"
      [avaliable]="'Muito bom.'"
    ></app-user-card>
  </div>
</div>
