.container {
  display: flex;
  margin: 0 10px 20px 10px;
  min-height: 100px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(211, 193, 195, 1);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.image-console {
  display: flex;
  width: 100px;
  padding: 10px;
}
.image-console img {
  border-radius: 10px !important;
  opacity: 0.8;
}

.container:hover {
  background-color: rgba(211, 193, 195, 1);
}
