.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 60vw;
  margin: 0 auto;
}

h2 {
  margin-top: 1.5em;
  padding-left: 1.5em;
}

ul {
  list-style: none;
  padding: 0px;
  background-size: contain;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media only screen and (max-width: 500px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.title {
  font-family: "Press Start 2P", cursive;
}
