<div class="container">
  <div class="game-container">
    <div class="image">
      <img
        src="https://images5.alphacoders.com/104/thumb-1920-1046767.jpg"
        width="100%"
        alt=""
      />
    </div>

    <div class="content">
      <h2 class="name-game">League of Legends</h2>
      <span
        >League of Legends é um jogo eletrônico online gratuito, do gênero
        batalha multijogador, desenvolvido e publicado pela Riot Games em 2009,
        para os sistemas Microsoft Windows e Mac OS X, inspirado no modo Defense
        of the Ancients do jogo Warcraft III: The Frozen</span
      >
      <!-- <div class="game-info">
        <button>Ver detalhes</button>
      </div> -->
    </div>
  </div>
</div>
