.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background-color: #000;
  border-radius: 30px;
}
.game-container {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 30px;
}

.content {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.game-info {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.name-game {
  font-family: "Press Start 2P", cursive;
}
button {
  padding: 10px;
  width: 50%;
  min-width: 200px;
  background-color: #000;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.2s;
}

button:hover {
  background-color: blue;
  color: #000;
  background-color: #fff;
}
