<div class="container">
  <img
    src="https://cdn.lowgif.com/full/dc3f1ad95cb63eac-.gif"
    width="100"
    alt=""
  />
  <h2 class="title">Criar um novo jogo</h2>
  <input type="text" placeholder="Nome do jogo" />
  <input type="text" placeholder="Empresa desenvolvedora" />
  <select name="cars" id="cars">
    <option value="volvo">Selecionar console</option>
    <option value="volvo">PlayStation</option>
    <option value="saab">X Box</option>
    <option value="mercedes">Sony</option>
    <option value="audi">Switch</option>
  </select>
  <div class="check-container">
    <div>
      <input class="check" type="checkbox" id="scales" name="scales" checked />
      <label for="scales">Ação</label>
    </div>
    <div>
      <input class="check" type="checkbox" id="check" name="scales" checked />
      <label for="scales">Aventura</label>
    </div>
    <div>
      <input class="check" type="checkbox" id="scales" name="scales" checked />
      <label for="scales">Estratégia</label>
    </div>
    <div>
      <input class="check" type="checkbox" id="scales" name="scales" checked />
      <label for="scales">RPG</label>
    </div>
    <div>
      <input class="check" type="checkbox" id="scales" name="scales" checked />
      <label for="scales">Esporte</label>
    </div>
    <div>
      <input class="check" type="checkbox" id="scales" name="scales" checked />
      <label for="scales">Simulação</label>
    </div>
  </div>
  <textarea
    name="description"
    id=""
    cols="30"
    rows="10"
    placeholder="
  Descrição do jogo"
  ></textarea>
  <input type="text" placeholder="URL da imagem" />

  <button>Cadastrar</button>
</div>
